.idea
.DS_Store
netflikss-golang
# don't add videos
stock/*.mp4
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml

# Test binary, built with `go test -ex2_3`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
